body{
    background-color: #333;
}


.calculadora{
    background-color: teal;
    width: 500px;
    height: 600px;
    margin: auto;
    border-radius: 5px;
    position: relative;
}

.tecla{
    width: 100%; 
    height: 100%;
    background-color: teal;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    line-height: 60px;
}

.tecla:hover{
    cursor: pointer;
}

.visor{
    background-color: darkslategray;
    width: 90%;
    height: 15%;
    border-radius: 5px;
    position: absolute;
    margin: 5%;
    margin-top: 5%;
    margin-right: 5%;

    color: white;
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.historico{
    color: #999;
    font-size: x-large;
    max-width: 100%;
    overflow-x: auto;
}

.operacao-visor{
    max-width: 100%;
    overflow-x: auto;
}

.teclado-numerico{
    background-color: darkslategray;
    position: absolute;
    height: 71%;
    width: 88%;
    border-radius: 5px;
    top: 23%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 5px;
    overflow-x: auto;
    max-width: 100%;

}

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(31, 53, 53); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: teal; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 104, 104); 
  }